@charset "UTF-8";

html {
	height: 100%;
	min-height: 100%;
	font-family: 'Inter', sans-serif;
}

body {
	display: flex;
	margin: 0;
	height: 100%;
	width: 100%;
	min-height: 100%;
	flex-direction: column;
}

.editor-panel {
	width: 100%;
	background-color: rgb(180, 180, 200);
	height: 15%;
	display: flex;
	border-top: 1px solid rgb(150, 150, 150);
	overflow-x: auto;
}

.editor-area {
	flex-grow: 100%;
	width: 100%;
	background-color: rgb(194, 194, 214);
	height: 100%;
	overflow-y: auto;
}

.editor-area::-webkit-scrollbar {
	width: 10px;
}

.editor-area::-webkit-scrollbar-thumb {
  background: rgb(140, 140, 140); 
  border-radius: 20px;
}
.editor-area::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100); 
}

/* editor panel */
.task-window {
	height: 100%;
	flex-grow: 1;
	overflow-y: auto;
}

.config-panel {
	height: 100%;
	width: 20%;
	background-color: rgb(170, 170, 190);
}

/* tasks */
.task-body {
	margin: auto;
	width: 65%;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
}

@media (orientation: portrait) {
	.task-body {
		width: 85%; 
	}
}

.task-body:hover {
	border: 2px solid blue;
}

.task-body:focus {
	border: 2px solid green;
}

.task-content-container {
	width: 98%;
	margin: 0 auto;
	margin-bottom: 1em;
}

.answers-container {
	width: 95%;
	flex-grow: 1;
	background: lightgray;
	margin: 0 auto;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.answer-row {
	display: flex;
	padding: 0.5em;
}

.answer-row:hover {
	background-color: green;
}

.round-checkmark {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: white;
	border: 2px solid gray;
}

.add-new-answer {
	border: 0px;
	background-color: green;
	border: 2px solid green;
	text-align: center;
	align-items: center;
  	justify-content: center;
	
}

.editable-input:hover {
	border-bottom: 3px solid green;
}
