@charset "UTF-8";

html {
	height: 100%;
	min-height: 100%;
	font-family: 'Inter', sans-serif;
}

body {
	display: flex;
	margin: 0;
	height: 100%;
	width: 100%;
	min-height: 100%;
	box-sizing: border-box;
}

/* options panel css */
/*
.structure-options-container-wrapper {
	height: 100%;
	width: 20%;
	display: flex;
}

.structure-options-contents-container-wrapper {
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
	background-color: rgb(180, 180, 200);
	border-top: 1px solid rgb(150, 150, 150);
	box-sizing: border-box;
}

.structure-options-container-title-wrapper {
	height: 1.2rem;
	border-bottom: 1px solid gray;
	display: flex;
}

.structure-menu-caller-wrapper {
	width: 1.4rem;
	height: 100%;
}

.structure-menu-caller-wrapper > button {
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	color: green;
}

.structure-menu-caller-wrapper > button:hover {
	color: darkblue;
}

.structure-options-title-wrapper {
	flex-grow: 1;
}

.structure-options-menu-wrapper {
	display: none;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: darkblue;
	box-sizing: border-box;
}

.structure-options-title {
	color: white;
}

.close-structure-options-menu-wrapper {
	height: 1.2rem;
}

.close-structure-options-menu-wrapper > button {
	height: 100%;
	background: none;
	border: none;
	color: lightgray;
}

.close-structure-options-menu-wrapper > button:hover {
	color: white;
}

.structure-options-list-container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.structure-options-list {
	padding: 0;
	list-style: none;
	width: 100%;
}

.structure-option-list-entry-wrapper {
	width: 100%;
}

.structure-option-list-entry-wrapper > button {
	width: 100%;
	font-size: 1rem;
	height: 1.6rem;
	text-decoration: none;
	border: none;
	background: none;
	color: white;
}

.structure-option-list-entry-wrapper > button:hover {
	background: blue;
}

.structure-options-contents-container {
	display: flex;
	flex-grow: 1;
}

.structure-options-entry-contents-wrapper {
	flex-grow: 1;
	height: 100%;
	display: none;
	flex-direction: column;
}

.structure-layers-options-container {
	height: 1.6rem;
	display: flex;
	background-color: rgb(170, 170, 190);
}

.structure-layers-options-entry {
	height: inherit;
	background: none;
	border: none;
}

.structure-layers-options-entry:hover {
	color: darkblue;
}

.structure-layers-container {
	flex-grow: 1;
	height: 100%;
}

.structure-layer-row {
	 width: 100%;
	 background: cyan;
	 height: 1.6rem;
	 display: flex;
}

.structure-layer-row-options > button {
	height: 100%;
	background: none;
	border: none;
	color: darkgray;
}

.structure-layer-row-options > button:hover {
	color: darkblue;
}

.structure-layer-row-contents {
	display: flex;
	flex-grow: 1;
}
*/

.layers-container-wrapper {
	height: 100%;
	width: 20%;
	display: flex;
}

.layers-contents-container-wrapper {
	flex-grow: 1;
	display: none;
	flex-direction: column;
}

.layers-options-container {
	height: 1.6rem;
	display: flex;
	background-color: rgb(170, 170, 190);
}

.layers-options-entry {
	height: inherit;
	background: none;
	border: none;
}

.layers-options-entry:hover {
	color: darkblue;
}

.variant-change-container-wrapper {
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: center;
}

.variant-change-container-wrapper > button {
	width: 70%;
	height: 70%;
	display: flex;
	border: 0;
	background: 0;
	border-radius: 5px;
	font-size: 1rem;
}

.variant-change-container-wrapper > button:hover {
	background: lightgray;
}

.open-variant-change-menu-icon {
	width: 10%;
}

.editable-variant-name {
	flex-grow: 1;
}

.layers-container {
	flex-grow: 1;
	box-sizing: border-box;
	flex-direction: column;
}


.layer-row-wrapper {
	background: blue;
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.layer-row-current {
	width: 100%;
}

.layer-row-children {
	width: 100%;
}

.layers-title-container-wrapper {
	height: 2.2rem;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.layers-title-border-wrapper {
	height: 0.1rem;
	display: flex;
}

.layers-title-border {
	height: 100%;
	width: 55%;
	background: black;
}

.layers-container-title {
	flex-grow: 1;
}

.layers-container-title {
	flex-grow: 1;
	display: grid;
	align-items: center;
	padding-left: 0.1rem;
}

.layers-variants-options-contaier {
	height: 1.6rem;
	width: 100%;
	display: flex;
	background: lightgray;
}

.close-variants-wrapper {
	width: 1.5rem;
	height: 100%;
}

.variants-container-wrapper {
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
}

.variants-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.variant-row {
	width: 100%;
	height: 1.8rem;
	display: flex;
}

.variant-row:hover {
	background: lightblue;
}

.delete-variant-wrapper {
	width: 1.6rem;
	height: 100%;
	justify-content: center;
	padding-left: 1rem;
}

.delete-variant {
	display: none;
	background: none;
	border: none;
	color: gray;
}

.delete-variant:hover {
	color: black;
}

.selection-indicator {
	width: 1rem;
}

.selection-indicator-selected {
	background: purple;
}

.variant-name-wrapper {
	flex-grow: 1;
}

.variant-name {
	float: right;
	padding-right: 1rem;
}

.add-new-variant-wrapper {
	flex-grow: 1; 
	display: flex;
}

.add-new-variant-wrapper > button {
	flex-grow: 1;
	border: none;
	background: none;
	border-top: 1px solid gray;
}

/* view area css */

.view-area {
	flex-grow: 100%;
	width: 100%;
	background-color: rgb(194, 194, 214);
	height: 100%;
	overflow-y: auto;
}

.view-area::-webkit-scrollbar {
	width: 10px;
}

.view-area::-webkit-scrollbar-thumb {
  background: rgb(140, 140, 140); 
  border-radius: 20px;
}

.view-area::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100); 
}

/* tasks */
.task-wrapper {
	margin: auto;
	width: 65%;
	border-radius: 5px;
	margin-top: 4rem;
	margin-bottom: 4rem;
	display: flex;
	flex-direction: column;
}

@media (orientation: portrait) {
	.task-wrapper {
		width: 85%; 
	}
}

.selection-wrapper {
	width: 100%;
	border-radius: 5px;
	background: yellow;
	padding: 0.15rem;
	flex-grow: 100%;
	display: flex;
	box-sizing: border-box;
}

.task-wrapper:hover > .selection-wrapper {
	background: gray;
}

.selected-task {
	background: green;
}

.task-body {
	flex-grow: 1;
	border-radius: 5px;
	background: white;
	display: flex;
	flex-direction: column;
	width: 100%;
}


.task-content-container {
	display: flex;
	flex-grow: 1;
	width: 98%;
	margin: 0 auto;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

.task-content {
	width: 100%;
}

.answers-container-wrapper {
	width: 95%;
	flex-grow: 1;
	background: rgb(240, 240, 240);
	margin: 0 auto;
	margin-bottom: 0.5rem;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.answers-container {
	display: flex;
	width: 100%;
	border-bottom: 1px solid lightgray;
	box-sizing: border-box;
}

.answer-row {
	display: flex;
	flex-grow: 1;
	padding: 0.5em;
	box-sizing: border-box;
}

.answer-options-wrapper {
	display: flex;
	border-left: 1px solid lightgray;
}

.answer-option {
	cursor: default;
	color: rgb(140, 140, 140);	
	margin-left: 0.2rem;
	margin-right: 0.2rem;	
}

.answer-option:hover {
	color: rgb(70, 70, 70);
}

.answer-content-wrapper {
	flex-grow: 1;
	display: flex;
}

.checkmark-wrapper {
	width: 2rem;
	justify-content: center;
}

.checkmark {
	width: 1.2rem;
	height: 1.2rem;
	background-color: white;
	border: 2px solid gray;
}

.round-checkmark {
	border-radius: 50%;
}

.answer-content {
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	width: 100%;
}

.answers-config-container {
	border: 0px;
	text-align: center;
	align-items: center;
  	justify-content: center;
  	display: flex;
}

.answer-config-entry {
	margin-left: 5px;
	margin-right: 5px;
	cursor: default;
	color: gray;
}

.answer-config-entry:hover {
	color: rgb(70, 70, 70);
}

.short-answer-field {
	height: 1.2rem;
	width: 30%;
	border-bottom: 2px solid gray;
}

.short-answer-field:hover {
	border: 0px;
	border-bottom: 2px solid green;
}

.editable-input {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	max-width: inherit;
}

.editable-input:focus {
	background: lightgray;
	outline: none;
}

.task-content > .editable-input:hover {
	border-bottom: 3px solid lightgreen;
}

.task-content > .editable-input:focus {
	border-bottom: 3px solid green;	
}

/* edit options */
.edit-options-menu {
	margin: auto;
	display: flex;
	height: 10%;
	width: 20%;
}

.edit-option {
	width: 25%;
	height: 40px;
	background: yellow;
	border: 1px solid black;
}

/*.task-body:focus + .edit-option {
	background: green;
}*/
.edit-option:hover {
	background: lightyellow;
}

/* extended task addition */
.add-selection-menu {
	position:absolute;
	right: 0;
    left: 0;
    top: 0;
  	bottom: 0;
	margin: auto;
	display: none;
	width: 90%;
	height: 90%;
	flex-direction: column;
	background-color: lightgray;
}

.menu-panel-container {
	width: 99%;
}

.type-choices-container-wrapper {
	height: 95%;
	display: flex;
}

.type-choices-container {
	margin: auto;
	width: 98%;
	height: 90%;
	background: white;
	border: thin 1px gray;
	display: flex;
}

.type-choice-wrapper {
	border: 1px solid gray;
	width: 25%;
	display: flex;
	flex-direction: column;
	height: 8rem;
}

.type-choice {
	width: 95%;
	height: 95%;
	border: 1px solid gray;
	border-radius: 2px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.type-choice:hover {
	background-color: green;
}

.type-icon {
	width: 90%;
	height: 90%;
}

.config-container {
	flex-grow: 1;
	margin: auto;
	width: 95%;
	justify-content: center;
	border-top: 1px solid black;
}

/* different display classes */

.display-flex {
	display: flex;
}

.display-block {
	display: block;
}

.flex-rest {
	flex-grow: 1;
}